@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

}


body {
    background: #224942 url('../images/beach.jpg') no-repeat center center/cover;
    color: white;
    font-family: 'Montserrat',sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


.container{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;


}


.circle{
    background-color: #010f1c;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}
